.all-screen {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.cover-image {
  height: 80%;
  width: 100%;
}

.nav-card a {
  text-decoration: none;
  color: black;
}

.nav-card a:visited {
  text-decoration: none;
}

.nav-card a:hover {
  text-decoration: none;
}

.nav-card-parag {
  padding: 0 5em 2em 5em;
}

.home-button {
  background-color: #3dc4fc;
  padding: 1.5em;
}

.icon {
  height: 4em;
  filter: invert(100%);
}
